.change {
    color: white;
    background-color: rgb(245, 92, 3);
    transition: all .5s ease-in-out;
    border: none;
    padding: .6rem 2rem;
    border-radius: .4rem;

}

.change:hover {
    color: white;
    background-color: rgb(92, 204, 1);
}

.height {
    height: 0vh;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    font-size: 4rem;
}

.lead {
    font-size: 1.3rem !important;
    font-weight: bold;
    line-height: .7;
}
.lead p{
    font-size: 1.4rem !important;
}